@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Questrial:100,200,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Khula');
*{
font-family:khula;
font-size: 20px;	
}
#logo{
width: 100%;
text-align:center;	
margin-top: 20px;
margin-bottom: 20px;
}
#logo img{ 
  /*width: 145px;*/
  width:100px;
}
#top-bar{
width:100%;
text-align:center;
/* padding to make both sides equal-distant */
padding:0;
}
#top-bar li{
		text-align:center;
	list-style-type:none;
	text-decoration:none;
	color:black;
	display:inline;
font-size: 20px;
margin: 10px 45px ;
}

/* Underline selected text */

#block img{
	/*real solution*/
position: absolute;
margin-left: auto;
margin-right: auto;
left: -537px;
top: 139px;
right: 0;							 
  width: 70px;
  height: 40px;
    z-index:-10;
}

.popular, .men, .women, .technology, .top,.shop{
text-decoration:none;
}
.popular:hover, .men:hover, .women:hover, .technology:hover, .top:hover,.shop:hover{
text-decoration:underline;
color:black;
}
#main-images li{
  width: 200px;
  height:200px;
  list-style-type:none;
  margin:300px auto;
  margin-top:100px;
  border-radius: 10px;
  border: solid rgba(0,0,0,0.8) 1px;
}
#main-left{
  position:relative;
  top: -1200px;
  margin-left:-700px;
}
#main-right{
	 position:relative;
  top: 50px;
  margin-left:700px;
}
#image1{
  background:url('https://media.gucci.com/style/DarkGray_Center_0_0_2400x2400/1441961133/411924_CWC1N_1000_001_100_0000_Light-Gucci-Signature-leather-belt.jpg' ) no-repeat;
  background-size:cover;
}
#image2{
  background: url('https://s-media-cache-ak0.pinimg.com/736x/ae/a9/7c/aea97c7e37294ec542bcb9dcc1ac28f2--mens-hermes-belt-designer-belts.jpg') no-repeat;
  background-size:cover;
}
#image3{
  background: url('https://media.yoox.biz/items/46/46305749RC_15_fp.jpg') no-repeat;
  background-size:cover;
}
#image4{
  background: url('https://www.ferragamo.com/wcsstore/FerragamoCatalogAssetStore/images/products/661857/661857_00_r17.jpg') no-repeat;
  background-size:cover;
}
#image5{
  background: url('https://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=172606680') no-repeat;
  background-size:cover;
}
#image6{
  background: url('https://i1.adis.ws/i/tom_ford/TB178P-ADG_BLK_OS_A?$pdp_hero_mob$') no-repeat center;
  background-size:cover;
}
#main-text li{
  list-style-type:none;
    margin:200px auto;
  margin-top:150px;
  width: 650px;
  height:300px;
}
#text-right{
	text-align:right;
   position:relative;
  top: -2920px;
  margin-left: -210px;
}
#text-left{
	text-align:left;
  position:relative;
  top: -4160px;
  margin-left: 210px;
}




.counter {
  width: 20px;
  height: 10px;
  background: black;
  color: #fff;
  position: fixed;
  top: 120px;
  right: 0;
}
.scrolled-nav {
	font-size: 20px;
  height: 10px !important;
  line-height: 10px !important;
  background:rgba(255,255,255,1);
  z-index: 9;
  margin-left:-33px;
  padding: 25px;
  padding-bottom: 60px;
  color:black;
  top: 0px;
}
#global-nav {
	width:100%;
	text-align:center;
  position: static;
}
