@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400,600,700,900');
*{
font-family:questrial;
border:none;	
}
body {
  margin: 5em;
  -webkit-font-smoothing: subpixel-antialiased;	
}
#logo{
width: 100%;
text-align:center;	
margin-top: -63px;
margin-bottom: 25px;
}
#logo img{ 
  /*width: 145px;*/
  width:100px;
  z-index:99999999999;
}
#top-bar{
	padding:0;
width:100%;
text-align:center;
margin-bottom:40px;
/* padding to make both sides equal-distant */
}
#top-bar li{
		text-align:center;
	list-style-type:none;
	text-decoration:none;
	color:black;
	display:inline;
font-size: 20px;
margin: 10px 45px;
border-bottom: solid rgba(0,0,0,0) 5px;
padding-bottom:10px;
}
.popular, .men, .women, .technology, .top, .shop{
text-decoration:none;
}
#top-bar li:hover{
	border-bottom: solid rgba(0,0,0,1) 4px;
}
#title-line{
		line-height:0.1;
	border-bottom: solid black 2px;	
	width:1000px;
	margin:0 auto;
	margin-top:37px;
	margin-bottom:-42px;
}
#title{
	font-size: 25px;
width:300px;
margin:30px auto;	
margin-top: 30px;
background:white;
}

input{
	padding:15px;
	margin-left:5px;
	border-bottom: solid black 2px;
}
textarea{
	resize:none;
	margin-top:10px;
	margin-left:-7px;
	padding:10px;
border-bottom: solid black 2px;
}
textarea:focus, input:focus{
outline:none;
}
fieldset{
	width:1010px;
	margin:0 auto;
}
aside {
	width:1000px;
	text-align:center;	
    background: rgba(0,0,0,0.8); /* same color as selected state on site menu */
    padding: 0.3em 1em;
    border-radius: 2px;
    color: #fff;
	margin:0 auto;
    margin-bottom: 20px;
}
textarea {
  width: 100%;
}

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.is-center {
  text-align: center;
}
.button-success {
  color: white;
  border-radius: 2px;
  background: rgba(0,0,0,0.8);
}
.button-xlarge {
  font-size: 120%;
}
label{
font-size:18px;	
position:relative;
text-align:left;
left:-5px;
}
#button {
	width:100%;
	text-align:center;
}
button {
	border:none;
	padding:7px;
	margin-top:30px;
	width:100px;
	    transition: all 0.4s ease-in-out;
		top:0px;
		padding-left:7px;
}
button:hover{
cursor:pointer;
}
.arrow:hover{
		cursor:pointer;
}
.arrow-wrap{
width:100%;
text-align:center;
}
.arrow{
background:url(http://www.freeiconspng.com/uploads/white-arrow-transparent-png-22.png) no-repeat;
display:inline-block;
background-size: contain;
width:25px;
height:25px;
margin-left: 560px;
position:relative;
top: 352px;
}






.counter {
  width: 20px;
  height: 10px;
  background: black;
  color: #fff;
  position: fixed;
  top: 120px;
  right: 0;
}
.scrolled-nav {
	font-size: 20px;
  height: 10px !important;
  line-height: 10px !important;
  background:rgba(255,255,255,1);
  z-index: 100;
  margin-left:-33px;
  padding: 25px;
  padding-bottom: 60px;
  position:relative;
  left:7.302px;
  color:black;
  top: 0px;
}
#global-nav {
	width:100%;
	text-align:center;
  position: static;
  height: 40px;
}
#global-nav-wrap{
height:40px;	
}


footer{
  position: absolute;
width: 100%;
height: 120px;
text-align:center;
background: rgba(27,29,31,0.9);
left:0;
margin-top: 70px;
}

footer li{
	margin: 20px 5px;
	margin-bottom: 10px;
	margin-top: 5px;
display: inline-block;
color: rgba(255,255,255,0.65);	
}
footer ol{
padding:0;	
}
.underline a, footer li{
	font-size: 20px;
text-decoration:none;
color: rgba(255,255,255,0.65);	
}
.underline:hover{
text-decoration:underline;	
}
#copyright{
	position:relative;
	top: 25px;
color: rgba(255,255,255,0.55);	
}
#main{
position:relative;
top: 25px;	
}
#thankyou_message{
	width:100%;
	display:none;
	font-family:Raleway;
	font-weight:400;
text-align:center;
margin-top: 150px;
padding-bottom:20px;
}
#thankyou_message p{
font-size: 30px;	
}
#email-invalid{
	position:relative;
	left:15px;
}
#ad-wrap{
width:100%;
text-align:center;
margin-top: 80px;
padding-bottom: 0px;
}
#ad{
	background:url(https://www.rigsofrods.org/old-forum/forums/106-General-Chat/119046/thumbnail-000.png) no-repeat;
	background-size:contain;
	height:90px;
width:728px;
	margin:0 auto;
}

