@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Questrial:100,200,400,600,700,900');
*{
  font-family:Questrial;
    padding: 0;
}
body{
background-color:rgba(0,0,0,0.0.08);	
}
#logo{
width: 100%;
text-align:center;	
margin-top: 20px;
margin-bottom: 20px;
}
#logo img{ 
  /*width: 145px;*/
  width:100px;
}
#top-bar{
width:100%;
text-align:center;
/* padding to make both sides equal-distant */
}
#top-bar li{
		text-align:center;
	list-style-type:none;
	text-decoration:none;
	color:black;
	display:inline;
font-size: 20px;
margin: 10px 45px;
border-bottom: solid rgba(0,0,0,0) 5px;
padding-bottom:10px;
}
.popular, .men, .women, .technology, .top, .shop{
text-decoration:none;
}
#top-bar li:hover{
	border-bottom: solid rgba(0,0,0,1) 4px;
}

/* Underline selected text */

#block img{
	/*real solution*/
position: absolute;
margin-left: auto;
margin-right: auto;
left: 120px;
top: 138px;
right: 0;							 
  width: 98px;
  height: 40px;
    z-index:-10;
}
#title{
	font-weight: 300;
font-size: 50px;
width: 100%;
text-align:center;
position:absolute;
margin-top: 30px;
margin-left: -1300px;	
}

#main{
display: inline-block;
text-align:left;
width: 500px;
position: absolute;
/* edit this to move left and right (in percent) */
margin-left: 48%;
margin-top: 70px;
font-size: 15px;
}
#main ol li{
	color:rgba(0,0,0,0.6);
		font-family: raleway;
list-style-type:none;
padding: 5px 20px 30px 20px;
}
.header{
font-size: 27px;	
}
#main-images{
display: inline-block;
position: absolute;
/* edit this to move left and right (in percent) */
margin-left: -99%;
top: 26px;	
}
#main-images ol li{
	list-style-type:none;
width: 336px;
height: 189px;
margin-bottom:21.5px;
}

#main-images #image1{
	background:url(https://www.birchbox.com/images/uploads/Summer_Style_700x400.jpg) no-repeat;
	background-size:cover;
	background-position: center;
    transition: all 0.3s ease-in-out;
}
#main-images #image2{
	background:url(https://s-media-cache-ak0.pinimg.com/736x/8d/2a/12/8d2a1217febc00c7635466a0511ec63b--guy-fashion-mens-fashion-styles.jpg) no-repeat;
	background-size:cover;
			 transition: all 0.3s ease-in-out;
}
#main-images #image3{
	background:url(https://s-media-cache-ak0.pinimg.com/736x/62/c8/f3/62c8f3eea33d644cb3c7a58eefb5c4e9--men-style-blog-guy-style.jpg) no-repeat;
	background-size:cover;
			 transition: all 0.3s ease-in-out;
}
#main-images #image4{
	background:url(https://s-media-cache-ak0.pinimg.com/736x/a5/38/7b/a5387b0e66f17f428af0dafd2deaacb8--fashion-street-styles-my-fashion.jpg) no-repeat;
	background-size:cover;
	 transition: all 0.3s ease-in-out;
	 
}
#main-images #image5{
	background:url(https://www.birchbox.com/images/uploads/Summer_Style_700x400.jpg) no-repeat;
	background-size:cover;
	background-position: center;
    transition: all 0.3s ease-in-out;
}
#main-images #image6{
	background:url(https://s-media-cache-ak0.pinimg.com/736x/8d/2a/12/8d2a1217febc00c7635466a0511ec63b--guy-fashion-mens-fashion-styles.jpg) no-repeat;
	background-size:cover;
			 transition: all 0.3s ease-in-out;
}
#main-images #image7{
	background:url(https://s-media-cache-ak0.pinimg.com/736x/62/c8/f3/62c8f3eea33d644cb3c7a58eefb5c4e9--men-style-blog-guy-style.jpg) no-repeat;
	background-size:cover;
			 transition: all 0.3s ease-in-out;
}
#main-images #image8{
	background:url(https://s-media-cache-ak0.pinimg.com/736x/a5/38/7b/a5387b0e66f17f428af0dafd2deaacb8--fashion-street-styles-my-fashion.jpg) no-repeat;
	background-size:cover;
	 transition: all 0.3s ease-in-out;
	 
}
#main-images li:hover{
 filter: brightness(80%);
 transform:scale(1.02);
  transition: all 0.3s ease-in; 
}

.header:hover{
text-decoration: underline;
}
#article1{
	margin-top: 20px;
margin-bottom: 18px;
}

#article2{
	margin-top: 20px;
margin-bottom:15px;	
}

#article3{
	margin-top: 0px;
margin-bottom: 45px;	
}

#article4{
	margin-top: 10px;
margin-bottom: 25px;	
}
#article5{
	margin-top: 20px;
margin-bottom: 38px;
}

#article6{
	margin-top: 20px;
margin-bottom:15px;	
}

#article7{
	margin-top: 0px;
margin-bottom: 45px;	
}

#article8{
	margin-top: 10px;
margin-bottom: 25px;	
}
#articles{
margin-left: -20%;	
width: 85%;
margin-top: 43px;
}
#ad1{
background:url(https://justmythinking.com/wp-content/uploads/2015/06/amazon-long-vertical.gif) no-repeat center;
background-size:contain;
width: 160px;
height:600px;
margin-top: -1955px;
margin-left: 69%;
margin-bottom:-10px;
}
#ad2{
background:url(http://beautifulbannerads.com/wp-content/gallery/gallery-1/Vertical.jpg) no-repeat center;
background-size:contain;
width: 160px;
height:600px;
margin-top: 25px;
margin-left: 69%;
margin-bottom: -10px;
}
#ad3{
background:url(https://s-media-cache-ak0.pinimg.com/236x/31/03/78/3103788484ed719191009bd6b283540a--design-display-ad-design.jpg) no-repeat center;
background-size:contain;
width: 160px;
height:600px;
margin-top: 25px;
margin-left: 69%;
}




.slider {
	width: 1024px;
	margin: 0 auto;
	margin-top: 2em;
	opacity: 1;
	
}

.slider-wrapper {
	width: 100%;
	height: 400px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

#box1,#box2,#box3{
opacity:0.8;	
}
.popular, .men, .women, .technology, .top, .shop{
text-decoration:none;
}

footer{
  position: absolute;
top: 2700px;
width: 100%;
height: 120px;
text-align:center;
background: rgba(27,29,31,0.9);
left:0;
}

footer li{
	margin: 20px 5px;
	margin-bottom: 10px;
	margin-top: 8px;
display: inline-block;
font-size: 20px;
color: rgba(255,255,255,0.65);	
}
.underline a{
text-decoration:none;
color: rgba(255,255,255,0.65);	
}
.underline:hover{
text-decoration:underline;	
}
#copyright{
	position:relative;
	top: 20px;
color: rgba(255,255,255,0.55);
}
.counter {
  width: 20px;
  height: 10px;
  background: black;
  color: #fff;
  position: fixed;
  top: 120px;
  right: 0;
}
.scrolled-nav {
	font-weight:500;
	font-size: 20px;
  height: 10px !important;
  line-height: 10px !important;
  background:rgba(255,255,255,1);
  z-index: 9;
  margin-left:-33px;
  padding: 25px;
  padding-bottom: 60px;
  color:black;
  top: 0px;
}
#global-nav {
	width:100%;
	text-align:center;
  position: static;
}

