@charset "UTF-8"
/* CSS Document */
@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Questrial:100,200,400,600,700,900');
*{
  font-family:Questrial;
    padding: 0;
}
a{
text-decoration: none;	
}

body{
background-color:rgba(0,0,0,0.0.08);	
-webkit-font-smoothing: subpixel-antialiased;	
}
#logo{
width: 100%;
text-align:center;	
margin-top: 20px;
margin-bottom: 20px;
}
#logo img{ 
  /*width: 145px;*/
  width:100px;
}
#top-bar{
width:100%;
text-align:center;
/* padding to make both sides equal-distant */
}
#top-bar li{
		text-align:center;
	list-style-type:none;
	text-decoration:none;
	color:black;
	display:inline;
font-size: 20px;
margin: 10px 45px;
border-bottom: solid rgba(0,0,0,0) 5px;
padding-bottom:10px;
}
.popular, .men, .women, .technology, .top, .shop{
text-decoration:none;
}
#top-bar li:hover{
	border-bottom: solid rgba(0,0,0,1) 4px;
}
#title{
width:100%;
text-align:center;
margin-left:-370px;
margin-top:50px;
margin-bottom:-20px;
}

#watches{
	width: 100%;
	text-align: center; 
	position: relative;
	top: 40px;
}
#watches ol{
	width: 1000px;
	margin:0 auto;
	padding:0;
	}

#watches li{
	background:url(https://www.danielwellington.com/media/staticbucket/media/catalog/product/cache/small_image/400x/dc4095f997835e64a6e07c1125933e12/c/l/cl40-bristol-rg_3.png) no-repeat center;	
background-size:cover;
	height: 360px;
	width: 325px;
	margin-bottom:4px;
		border:solid black 0.1px;
	list-style-type: none;
	text-align:center;
	display:inline-block;
}
#watches li span{
	border:none;
	display:inline-block;
	padding: 15px 37px;
transition: all ease 0.8s;	
text-align:left;
padding-left: 20px;
line-height: 23px;
	font-size:20px;
	position:relative;
	color:white;
		background:rgba(0,0,0,0.7);
	top:285px;
}
#watches li:hover span{
box-shadow: inset 0 200px 0 0 rgba(3,3,3,0.8);	
}

.counter {
  width: 20px;
  height: 10px;
  background: black;
  color: #fff;
  position: fixed;
  top: 120px;
  right: 0;
}
.scrolled-nav {
	font-weight:500;
	font-size: 20px;
  height: 10px !important;
  line-height: 10px !important;
  background:rgba(255,255,255,1);
  z-index: 9;
  margin-left:-33px;
  padding: 25px;
  padding-bottom: 60px;
  color:black;
  top: 0px;
}
#global-nav {
	width:100%;
	text-align:center;
  position: static;
}
#block img{
	/*real solution*/
position: absolute;
margin-left: auto;
margin-right: auto;
left: 895px;
top: 138px;
right: 0;							 
  width: 75px;
  height: 40px;
    z-index:-10;
}
.popular, .men, .women, .technology, .top,.shop{
text-decoration:none;
}
.weird{
	position:relative;
	left:-2px;	
}
#ad-wrap div{
background:url(http://adsindiajobs.com/ads_image/11467871830.jpg) no-repeat;	
width:768px;
height:90px;
margin:0 auto;
position:relative;
top:90px;
}
footer{
  position: absolute;
top: 1860px;
width: 100%;
height: 120px;
text-align:center;
background: rgba(27,29,31,0.9);
left:0;
}

footer li{
	margin: 20px 5px;
	margin-bottom: 10px;
	margin-top: 8px;
display: inline-block;
font-size: 20px;
color: rgba(255,255,255,0.65);	
}
.underline a{
text-decoration:none;
color: rgba(255,255,255,0.65);	
}
.underline:hover{
text-decoration:underline;	
}

#copyright{
	position:relative;
	top: 23px;
color: rgba(255,255,255,0.55);
}
